[user]
	name = Sergei Zhgirovski
	email = ixanezis@yandex-team.ru

[core]
    editor = vim

[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
	root = !pwd
	ar = !git add -u `git root`
    stu = status -uno
	pp = !sh -c 'git push origin HEAD:f/$(git log --oneline -1 | grep -oe \"SDC-[0-9]\\+\")-$(git rev-parse --abbrev-ref HEAD)'
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
